<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBMsqi2m_xOp3sazwHWuii1FnFNNyqNqFM</string>
	<key>GCM_SENDER_ID</key>
	<string>516623224315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.simpQuizApp</string>
	<key>PROJECT_ID</key>
	<string>bloc-cool-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>bloc-cool-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516623224315:ios:cc42a59b9c566c2117cf5e</string>
</dict>
</plist>